<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5">
        <div id="map"></div>
      </div>
      <div class="col-md-7">
        <div class="row d-flex">
          <!-- Class cards -->
          {{range .Classes}}
          <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 d-flex">
            <div class="card m-1 p-3  d-flex flex-fill align-items-stretch" data-lat="{{.Room.Latitude}}"
              data-long="{{.Room.Longitude}}" onmouseenter="hover(event)" onmouseleave="leave(event)">
              <h1>{{.Name}}</h1>
              <p>{{.Code}}</p>
              <p>{{.Professor}}</p>
              <hr class="mt-0">
              <p>{{.Room.Building.Name}}: {{.Room.Name}}</p>
            </div>
          </div>
          {{end}}
          <!-- End class cards -->
          <!-- New class form -->
          <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 d-flex">
            <div class="card m-1 p-3  flex-fill d-flex align-items-stretch">
              <form action="/api/classes/add-class" method="POST">
                <input name="name" type="text" class="form-control" placeholder="Class Name">
                <input name="code" type="text" class="mt-1 form-control" placeholder="Course Code">
                <input name="professor" type="text" class="mt-1 form-control" placeholder="Professor">
                <hr class="mt-1">
                <select name="building" id="buildingSelect" class="form-control" onchange="selectBuilding(event)">
                  {{range .Buildings}}
                  <option value="{{ .ID}}" data-lat="{{.Latitude}}" data-long="{{.Longitude}}" data-rooms="{{.Rooms}}">
                    {{ .Name}}</option>
                  {{end}}
                </select>
                <select name="roomId" id="roomsSelect" onchange="selectRoom(event)" class="mt-1 form-control">
                </select>
                <em>Click the map to create a new room</em>
                <input type="submit" value="Submit" class="mt-1 btn btn-success">
              </form>
            </div>
          </div>
          <!-- End new class form -->
        </div>
      </div>
    </div>
  </div>
  <style>
    /* Force the map to have a height */
    #map {
      height: 80vh;
    }
  </style>
  <!-- Make sure you put this AFTER Leaflet's CSS -->
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <script src="/static/main.js"></script>
</body>

</html>
